<mat-toolbar class="app-header">

    <div class="header-left">
        <button mat-icon-button type="button" aria-label="Toggle navigation" (click)="onMenuToggle()">

            <mat-icon>menu</mat-icon>

        </button>

        <span class="app-title">
            Employee Management
        </span>
    </div>

    <div class="header-right">
        <button mat-icon-button type="button" aria-label="User account">

            <mat-icon>account_circle</mat-icon>

        </button>
    </div>

</mat-toolbar>